<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登録完了</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
		body {
      height: 80%;
      margin-top: 20px;
    }

    .container {
      padding: 30px;
    }
    
	</style>
</head>

<body>
  
  <div class="container">
    <h1>登録が完了しました！</h1>
    <br>
    <p>この度はご登録いただき、誠にありがとうございます。</p>
    <p><a href="/login">ログイン画面へ</a></p>
  </div>
</body>
</html>
